html {
    width: 100%;
}

body {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

.nav {
    height: 70px;
    border-bottom: 1px solid grey;
    display: flex;
    align-self: normal;
}

.nav-left {
    margin-left: 2%;
    margin-right: 35%;
    display: flex;
    align-items: center;
} 

.title {
    color: #0B502E;
    white-space: nowrap;
}

.search-box {
    border: 1px solid black;
    width: 270px;
    height: 30px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: 5%;
}

.search-input {
    margin-left: 5%;
    border: none;
    outline: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-right: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text {
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


/* End of Nav Section */




.post-container1 {
    margin-top: 24px;
    width: 1140px;
    height: 191px;
    border: 1px solid grey;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileAndPost {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 24px;
    margin-left: 58px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-right: 32px;
}

.start-post {
    width: 892px;
    height: 100px;
    border: 1px solid grey;
    border-radius:50px;
    display: flex;
    align-items: center;
}    

.post-input {
    border: none;
    outline: none;
    margin-left: 80px;
    font-size: 25px;
    width: 90% ;
} 

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 39px;
    margin-top: 15px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-right: 66px;
    margin-left: 66px;
    font-size: 18px;
    text-decoration: none;
}


/* end of start a post*/

.post-container {
    margin-top: 24px;
    padding: 0;
    width: 1140px;
    height: auto;
    border: 1px solid grey;
    border-radius:50px;
    display: flex;
    flex-direction: column;
}

.profileAndUser {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* margin-top: 41px; */
}

.post-pic {
    width: 100px;
    height: 100px;
    margin-left: 69px;
    margin-right: 11px;
    margin-top: 41px;
    border: .5px solid grey;
    border-radius: 50%;

}

.userAndOnline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.user-name {
    margin: 0%;
}

.post-content {
    align-self: center;
    margin-top: 37px;
}

.post-linkup {
    height: 171px;
    width: 964px;
    border: 1px solid grey;
    border-radius:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 182, 105 , 50%);
}    

.start-comment {
    width: 874px;
    height: 65px;
    border: 1px solid grey;
    border-radius:40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
