<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/comment-user.css">
    <title>Likes</title>
</head>

<body>

    <h2>All Activity</h2>
    <a href="profile.html">
        <img src=".././static/styles/imgs/back.png" alt="" width="24px" height="28px"
            style="position: absolute; top: 20px; left: 90%;">
    </a>
    <div class="postsLikesAndComments">
        <a class="Posts" style="border: 1px solid black;" href="posts-user.html">
            <p>Posts</p>
        </a>
        <a class="Posts" style="border: 1px solid black;" href="likes.html">
            <p>Likes</p>
        </a>
        <a class="Comments" style=" color: white; border: none;" href="comment-user.html">
            <p>Comments</p>
        </a>

    </div>

    <!-- Post 1 Section -->
    <div class="post-container">
        <div class="profileAndUser">
            <img class="post-pic" src="../static/styles/imgs/me.png" alt="profile Pic">
            <div class="userAndOline">
                <h2 class="user-name" style="height: 29px; margin-top: 62px; margin-left: 80px;">Reem Ezzat</h2>
                <p style="height: 16px; margin-top: 0px;  margin-left: 5px;"> 4m <img
                        src="../static/styles/imgs/earth.png" alt="bell" height="12px" style="margin-top: 5px;"></p>
            </div>

        </div>

        <div class="post-content">
            <p style="white-space:wrap; margin-left: 45px; margin-bottom: 25px; font-size: 18px;">LinkUp is a social
                networking platform designed to connect users through
                shared interests and activites.
            </p>

            <div class="post-linkup">
                <div class="title">
                    <h2>Link <span
                            style="background-color: #0B502E; color: white; padding: 5px 2px;border-radius: 10px ; ">UP!</span>
                    </h2>
                </div>
            </div>


        </div>

        <div class="post-options" style="margin-bottom: 10px;">
            <a href="#" class="options">
                <img src="../static/styles/imgs/love.png" alt="Media" height="20px" style="margin-right: 10px;">
                <p style="color: #F91818;">Love</p>
            </a>
            <a href="comments.html" class="options">
                <img src="../static/styles/imgs/comment2.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Comment</p>
            </a>
            <a href="#" class="options">
                <img src="../static/styles/imgs/share2.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Share</p>
            </a>
        </div>


        <div class="comment">
            <img src=".././static/styles/imgs/me.png" alt="" width="70px" height="70px" border: .5px solid grey;
                style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
            <div class="comment-container">
                <div class="user-time">
                    <p class="comment-name">Reem Ezzat</p>
                    <p class="comment-time">1m</p>
                </div>

                <p class="comment-text">Congratulations..</p>

            </div>
        </div>

    </div>

    <!-- Post 2 Section -->
    <div class="post-container">
        <div class="profileAndUser">
            <img class="post-pic" src="../static/styles/imgs/anime.jpg" alt="profile Pic">
            <div class="userAndOline">
                <h2 class="user-name" style="height: 29px; margin-top: 62px; margin-left: 80px;">Roaa Ezzat</h2>
                <p style="height: 16px; margin-top: 0px;  margin-left: 5px;"> 4m <img
                        src="../static/styles/imgs/earth.png" alt="bell" height="12px" style="margin-top: 5px;"></p>
            </div>

        </div>

        <div class="post-content">
            <p style="white-space:wrap;margin-left: 45px; margin-bottom: 25px;"> #GAZA_Under_Attack!!!
            </p>
            <img src="../static/styles/imgs/gaza.jpg" alt="gaza" width="964px" height="550px"
                style="border-radius: 50px;">
        </div>

        <div class="post-options" style="margin-bottom: 10px;">
            <a href="#" class="options">
                <img src="../static/styles/imgs/sad.png" alt="Media" height="20px" style="margin-right: 10px;">
                <p style="color: #FC8D0A;">Sad</p>
            </a>
            <a href="#" class="options">
                <img src="../static/styles/imgs/comment2.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Comment</p>
            </a>
            <a href="#" class="options">
                <img src="../static/styles/imgs/share2.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Share</p>
            </a>
        </div>

        <div class="comment">
            <img src=".././static/styles/imgs/me.png" alt="" width="70px" height="70px" border: .5px solid grey;
                style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
            <div class="comment-container">
                <div class="user-time">
                    <p class="comment-name">Reem Ezzat</p>
                    <p class="comment-time">1m</p>
                </div>

                <p class="comment-text">My prayers for them..!!</p>

            </div>
        </div>


    </div>

    <script src="../static/script/comments.js"></script>

</body>

</html>