<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/comments.css">
    <title>All Comments</title>
</head>

<body>

    <h2>Comments</h2>
    <div class="post-container">
        <div class="profileAndUser">
            <img class="post-pic" src="../static/styles/imgs/me.png" alt="profile Pic">
            <div class="userAndOline">
                <h2 class="user-name" style="height: 29px; margin-top: 62px; margin-left: 80px;">Reem Ezzat</h2>
                <p style="height: 16px; margin-top: 0px; margin-left: 5px;"> 4m <img
                        src="../static/styles/imgs/earth.png" alt="bell" height="12px" style="margin-top: 5px;"></p>
            </div>

        </div>

        <div class="post-content">
            <p style="white-space:wrap; margin-left: 45px; margin-bottom: 25px; font-size: 18px;">LinkUp is a social
                networking platform designed to connect users through
                shared interests and activites.
            </p>

            <div class="post-linkup">
                <div class="title">
                    <h2>Link <span
                            style="background-color: #0B502E; color: white; padding: 5px 2px;border-radius: 10px ; ">UP!</span>
                    </h2>
                </div>
            </div>


        </div>

        <div class="post-options">
            <a href="#" class="options">
                <img src="../static/styles/imgs/like.png" alt="Media" height="20px" style="margin-right: 10px;">
                <p> Like</p>
            </a>
            <a href="comments.html" class="options">
                <img src="../static/styles/imgs/comment.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Comment</p>
            </a>
            <a href="#" class="options">
                <img src="../static/styles/imgs/share.png" alt="Event" height="20px" style="margin-right: 10px;">
                <p> Share</p>
            </a>
        </div>

    </div>

    <!-- comment 1 -->
    <div class="comment">
        <img src=".././static/styles/imgs/me.png" alt="" width="70px" height="70px" border: .5px solid grey;
            style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
        <div class="comment-container">
            <div class="user-time">
                <p class="comment-name">Reem Ezzat</p>
                <p class="comment-time">1m</p>
            </div>

            <p class="comment-text">Congratulations..</p>

        </div>
    </div>

    <!-- comment 2 -->
    <div class="comment">
        <img src=".././static/styles/imgs/roaa.png" alt="" width="70px" height="70px" border: .5px solid grey;
            style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
        <div class="comment-container">
            <div class="user-time">
                <p class="comment-name">Roaa Ezzat</p>
                <p class="comment-time">2m</p>
            </div>

            <p class="comment-text">Good Program..</p>

        </div>
    </div>

    <!-- comment 3 -->
    <div class="comment">
        <img src=".././static/styles/imgs/ahmed.png" alt="" width="70px" height="70px" border: .5px solid grey;
            style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
        <div class="comment-container">
            <div class="user-time">
                <p class="comment-name">Ahmed Mohamed</p>
                <p class="comment-time">4m</p>
            </div>

            <p class="comment-text">Excellent..</p>

        </div>
    </div>

    <!-- comment 4 -->
    <div class="comment">
        <img src=".././static/styles/imgs/amira.png" alt="" width="70px" height="70px" border: .5px solid grey;
            style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
        <div class="comment-container">
            <div class="user-time">
                <p class="comment-name">Amira Walid</p>
                <p class="comment-time">3m</p>
            </div>

            <p class="comment-text">Congratulations..</p>

        </div>
    </div>

    <!-- comment 5 -->
    <div class="comment">
        <img src=".././static/styles/imgs/omar.png" alt="" width="70px" height="70px" border: .5px solid grey;
            style="border-radius: 50%; border: 0.5px solid grey; margin-top: 24px; margin-right: 15px;">
        <div class="comment-container">
            <div class="user-time">
                <p class="comment-name">Omar Ibrahim</p>
                <p class="comment-time">1m</p>
            </div>

            <p class="comment-text">Good Work..</p>

        </div>
    </div>

</body>

</html>