<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles/signup.css">
    <title>Sign Up</title>
</head>

<body>

    <!-- form on left section -->
    <div class="form-container">
        <h1 class="greeting"> Sign Up Now </h1>

        <form id="signup-form">
            <div class="password-container">
                <input type="text" name="username" placeholder="Username">
                <div>
                    <img class="eye" src="../static/styles/imgs/user.png" alt="user">
                </div>
            </div>

            <div class="password-container">
                <input type="email" name="email" placeholder="Email">
                <div>
                    <img class="eye" src="../static/styles/imgs/email.png" alt="email">
                </div>
            </div>

            <div class="password-container">
                <input type="password" name="password" placeholder="Password">
                <div>
                    <img class="eye" src="../static/styles/imgs/lock.png" alt="lock">
                </div>
            </div>

            <button type="submit" class="button">Sign Up</button>
        </form>

        <a class="Forget" href="login.html"> Already Have Account? </a>
    </div>

    <!-- photo on the left -->
    <img class="cover" src="../static/styles/imgs/signup.png" alt="pic">

    <script src="../static/script/signUp.js"></script>
</body>

</html>
