html {
    width: 100%;
}

body {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}


.postsLikesAndComments{
    margin-top: 32px;
    margin-left: 116px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: start;

}

.postsLikesAndComments a {
    color: black;
    text-decoration: none;
    width: 145px;
    height: 55px;
    font-size: 24px;
    text-decoration: none;
    border-radius:  27px ;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin: 0px 15px;
   
}


.post-container1 {
    margin-top: 24px;
    width: 1140px;
    height: 191px;
    border: 1px solid grey;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileAndPost {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 24px;
    margin-left: 58px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-right: 32px;
}

.start-post {
    width: 892px;
    height: 100px;
    border: 1px solid grey;
    border-radius:50px;
    display: flex;
    align-items: center;
}    

.post-input {
    border: none;
    outline: none;
    margin-left: 80px;
    font-size: 25px;
    width: 90% ;
} 

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 39px;
    margin-top: 15px;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-right: 66px;
    margin-left: 66px;
    font-size: 18px;
    text-decoration: none;
}


.post-container {
    /* margin-top: 24px; */
    padding: 0;
    width: 1140px;
    height: auto;
    border: none;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profileAndUser {
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* margin-top: 41px; */
}

.post-pic {
    width: 100px;
    height: 100px;
    margin-left: 69px;
    margin-right: 11px;
    margin-top: 41px;
    border: .5px solid grey;
    border-radius: 50%;

}

.userAndOnline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}

.user-name {
    margin: 0%;
}

.post-content {
    margin-left: 10%;
    margin-top: 5px;
    font-size: 32px;
}

textarea {
    background-color: white;
    margin-top: 20px;
    border: none;
    font-size: 32px;
    width: auto;
    height: auto;
    color: black;
    width: 90%;
    height: 300px;
    resize: none;
}

.post-content textarea:focus {
    outline: none;
}


.post-options {
    width: 1140px;
    justify-content: start;
    margin-left: 69px;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 15%;
}

.post-options img {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
   
}


.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 25px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

#file {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    background-image: url(../styles/imgs/media2.png);
    text-indent: -9999px;  
}



.postsLikesAndComments{
    margin-top: 50px;
    margin-left: 935px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: start;
    position: absolute;
    bottom: 2.5%;
    right: 3%;
}


.postsLikesAndComments a {
    width: 230px;
    height: 59px;
    border-radius: 50px;
}

.Posts {
    border: 3px solid #D9D9D9;
   background-color: #D9D9D9;
  
}

.Posts:hover {
    border: 3px solid #198A52;
    background-color: #198A52;
}

.Cancel {
    border: 3px solid black;
}

.Cancel:hover {
    border: 3px solid #198A52;
}
