<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/EditProfile.css">
    <title>Edit Profile</title>
</head>

<body>

    <!-- Nav Bar -->
    <div class="nav">
        <h2 style="margin-top: 15px; margin-left: 100px;">Edit</h2>
        <a href="profile.html">
            <img src=".././static/styles/imgs/back.png" alt="Back" width="24px" height="28px"
                style="position: absolute; top: 15px; right: 90px;">
        </a>
    </div>

    <!-- Profile and cover photo -->
    <img class="cover" src="../static/styles/imgs/cover.png" alt="cover" width="100%">

    <div class="edit">
        <form>
            <input type="file" id="file">
        </form>
    </div>

    <div class="profile-container">
        <img class=" profile-pic" src="../static/styles/imgs/me.png" alt="Profile" width="274px"
            style="position: relative; top: 0%; left: 0%;">

        <div class="edit" style="position: absolute; left: 45%; top: 40%;">
            <form>
                <input type="file" id="file">
            </form>
        </div>
    </div>

    <!-- Edit Profile Form -->
    <form action="/saveProfile" method="POST" class="input">
        <p class="input-text">First Name*</p>
        <input type="text" class="input-container" name="first_name"  required>

        <p class="input-text">Last Name*</p>
        <input type="text" class="input-container" name="last_name"  required>

        <p class="input-text">Bio*</p>
        <input type="text" class="input-container" name="bio" placeholder="فَمَن زُحْزِحَ عَنِ النار وَأُدْخِلَ الجنة فَقَدْ فَازَ.." required>

        <p class="input-text">Country*</p>
        <input type="text" class="input-container" name="country"  required>

        <p class="input-text">City*</p>
        <input type="text" class="input-container" name="city"  required>

        <p class="input-text">Website*</p>
        <input type="url" class="input-container" name="website" placeholder="https://www.linkedin.com/in/reem-ezzat-a42878280/" required>

        <div class="postsLikesAndComments">
            <button type="submit" class="Posts" style="border: 3px solid #198A52; background-color: #198A52;">
                <p>Save</p>
            </button>
            <a class="Posts" style="border: 3px solid #198A52;" href="profile.html">
                <p>Cancel</p>
            </a>
        </div>
    </form>

    <script src="../static/script/EditProfile.js"></script>
</body>

</html>