<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/landing-page.css">
    <title>Linkup Project</title>
</head>

<body>
    <nav class="nav">
        <div class="nav-left">
            <div class="title">
                <h2>Link <span
                        style="background-color: #0B502E; color: white; padding: 5px 2px;border-radius: 10px ; ">UP!</span>
                </h2>
            </div>
            <div class="search-box">
                <img class="search-icon" src="../static/styles/imgs/search icon.png" alt="search" height="20px">
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </div>

        <div class="nav-right">
            <a class="nav-link" href="home.html">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/home black.png" alt="home" height="25px"
                        width="25px">
                    <p class="nav-text">Home</p>
                </div>
            </a>

            <a class="nav-link" href="#">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/message.png" alt="home" height="25px" width="25px">
                    <p class="nav-text">Message</p>
                </div>
            </a>

            <a class="nav-link" href="#">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/bell.png" alt="home" height="25px" width="25px">
                    <p class="nav-text">Notification</p>
                </div>
            </a>
        </div>

    </nav>

    <section>
        <div class="text">
            <h1>Link Up</h1>
            <p style="width: 515px; font-size: 24px;">LikeUp is a social networking platform designed to connect users
                through shared
                interests and activities.
                Users can create profiles, share posts, comment on others' content, and express their appreciation
                through
                likes.</p>

            <div class="buttons" style="margin-bottom: 50px;">
                <a href="./login.html">
                    <button style="color: white; background-color: #0B502E; border: #0B502E;">Login</button>
                </a>
                <p style="margin-left: 60px; margin-right: 60px;">Or</p>
                <a href="./signup.html">
                    <button style="background-color: white; border: 3px solid #0B502E;">Signup</button>
                </a>
            </div>

            <div class="buttons">
                <a href="#">
                    <img src="../static/styles/imgs/google2.png" alt="" width="61px" height="61px">
                </a>
                <a href="#">
                    <img src="../static/styles/imgs/facebook.png" alt="" width="61px" height="61px">
                </a>
                <a href="#">
                    <img src="../static/styles/imgs/whatsapp.png" alt="" width="61px" height="61px">
                </a>
                <a href="#">
                    <img src="../static/styles/imgs/apple2.png" alt="" width="61px" height="61px">
                </a>
            </div>
        </div>


        <img src="../static/styles/imgs/LandingPic.png" alt="" width="750px" height="500px" style="margin-top: 10px;">

    </section>

    <footer>
        <div class="developer">
            <img src="../static/styles/imgs/reem.png" alt="" width="202px" height="202px">
            <h3>Reem Ezzat</h3>
            <p>UI/UX</p>
        </div>
        <div class="developer">
            <img src="../static/styles/imgs/hussam.png" alt="" width="202px" height="202px">
            <h3>Hussam Eldeen</h3>
            <p>Front End</p>
        </div>
        <div class="developer">
            <img src="../static/styles/imgs/amira2.png" alt="" width="202px" height="202px">
            <h3>Amira Walid</h3>
            <p>Backend</p>
        </div>
        <div class="developer">
            <img src="../static/styles/imgs/azza.png" alt="" width="202px" height="202px">
            <h3>Azza Ibrahim</h3>
            <p>Backend</p>
        </div>
    </footer>
</body>

</html>