<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Login</title>
</head>

<body>

    <!-- register section at top right -->
    <div id="top">
        <p id="nav">Not a member?</p>
        <a id="nav-link" href="signUp.html"> Register Now </a>
    </div>

    <div class="gridLayout">
        <!-- form on left section -->
        <div class="grid-item formColumn">
            <div class="form-container">
                <h1 class="greeting">Hi Friends!</h1>

                <form id="login-form">
                    <div class="input-container">
                        <input type="text" name="username" placeholder="Enter Username" required>
                    </div>

                    <div class="password-container">
                        <img class="eye" src="../static/styles/imgs/eye-slash-regular.svg" alt="eye">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="question-wrapper">
                        <a class="Forget" href="#"> Forget Password? </a>
                    </div>

                    <button type="submit" class="button">Login</button>

                    <p id="continue"> Or continue with</p>

                    <div class="logo-container">
                        <img class="logo" src="../static/styles/imgs/google.png" alt="google">
                        <img class="logo" src="../static/styles/imgs/apple.png" alt="apple">
                    </div>
                </form>

            </div>
        </div>

        <!-- photo on the left -->
        <div class="grid-item imgColumn">
            <img class="cover" src="../static/styles/imgs/login.png" alt="pic">
        </div>
    </div>
    <script src="../static/script/login.js"></script>
</body>

</html>
