<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body>

    <!-- register section at top right -->
    <div id="top">
        <p id="nav">Not a member?</p>
        <a id="nav-link" href="signUp.html"> Register Now </a>
    </div>

    <div class="gridLayout">
        <!-- form on left section -->
        <div class="grid-item formColumn">
            <div class="form-container">
                <h1 class="greeting">Hi Friends!</h1>
		{% block content %}
		<form method="POST" action="">
		    {{ form.hidden_tag() }}
                    <div class="input-container">
			    {{ form.email.label }}
                            
			    {% if form.email.errors %}
			        {{ form.email }}
				<div class="invalid">
					{% for error in form.email.errors %}
					    <span>{{ error }}</span>
					{% endfor %}
			        </div>

                            {% else %}
			       {{ form.email }}
			    {% endif %}
                    </div>

                    <div class="password-container">
                        <img class="eye" src="./assets/eye-slash-regular.svg" alt="eye">
                        {{ form.password.label }}
			{% if form.email.errors %}
                                {{ form.password }}
                                <div class="invalid">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                </div>

                        {% else %}
                            {{ form.password }}
                        {% endif %}
                    </div>

                    <div class="question-wrapper">
                        <a class="Forget" href="#"> Forget Password? </a>
                    </div>

		    {{ form.submit(class='button') }}

                    <p id="continue"> Or continue with</p>

                    <div class="logo-container">
                        <img class="logo" src="./assets/google.png" alt="google">
                        <img class="logo" src="./assets/apple.png" alt="apple">
                    </div>
		</form>
                {% end block %]

            </div>
        </div>


        <!-- photo on the left -->
        <div class="grid-item imgColumn">
            <img class="cover" src="./assets/login.png" alt="pic">
        </div>
    </div>

</body>

</html>
