<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/profile.css">
    <title>Profile</title>
</head>

<body>

    <!-- Nav Bar -->
    <nav class="nav">
        <div class="nav-left">
            <div class="title">
                <h2>Link <span
                        style="background-color: #0B502E; color: white; padding: 5px 2px;border-radius: 10px ; ">UP!</span>
                </h2>
            </div>
            <div class="search-box">
                <img class="search-icon" src="../static/styles/imgs/search icon.png" alt="search" height="20px">
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </div>

        <div class="nav-right">
            <a class="nav-link" href="home.html">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/home black.png" alt="home" height="25px" width="25px">
                    <p class="nav-text">Home</p>
                </div>
            </a>

            <a class="nav-link" href="#">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/message.png" alt="home" height="25px" width="25px">
                    <p class="nav-text">Message</p>
                </div>
            </a>

            <a class="nav-link" href="#">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/bell.png" alt="home" height="25px" width="25px">
                    <p class="nav-text">Notification</p>
                </div>
            </a>

            <a class="nav-link" href="#">
                <div class="link-container">
                    <img class="nav-icon" src="../static/styles/imgs/me.png" alt="home" height="35px" width="35px">
                    <p class="nav-text" style="color: blue; text-decoration: underline;">Me</p>
                </div>
            </a>
        </div>


        </div>
    </nav>

    <!-- Profile and cover photo -->
    <img class="cover" src="../static/styles/imgs/cover.png" alt="cover" width="100%">
    <a href="#">
        <img class="edit" src="../static/styles/imgs/edit.png" alt="edit" width="48px">
    </a>
    <div class="profile-container">
        <img class="profile-pic" src="../static/styles/imgs/me.png" alt="Profile" width="274px">
    </div>


    <!-- Edit Profile button   -->
    <a href="./edit-profile.html?from=profile" style="text-decoration: none;">
        <div class="edit-profile">
            <p style="margin-right: 25px;">Edit Profile</p>
            <img src="../static/styles/imgs/edit.png" alt="" height="40px">
        </div>
    </a>

    <!-- Personal Info -->
    <div class="profile-info">
        <p class="Name">Reem Ezzat</p>
        <p class="Username">@it's_Reem</p>
        <p class="Bio">فَمَن زُحْزِحَ عَنِ النار وَأُدْخِلَ الجنة فَقَدْ فَازَ..</p>
        <a href="https://www.linkedin.com/in/reem-ezzat-a42878280/" class="Link">
            <img src="../static/styles/imgs/link.png" alt="" height="24px" width="24px" style="margin-top: 10px;">
            https://www.linkedin.com</a>
        <p class="Location"><a class="Contact" href="">Contact info</a></p>
        <p><a class="Followers" href="#">264 followers</a></p>
    </div>

    <!-- Posts section -->
    <div class="post-container">
        <div class="top-header">
            <h2 class="headline">Activity</h2>
            <a href="./create-post.html" class="create-post">
                <p>Create a post</p>
            </a>
            <a href="#">
                <img src="../static/styles/imgs/edit.png" alt="" height="54px" width="54px"
                    style="margin-left: 20px; margin-top: 32px;">
            </a>
        </div>

        <div class="postsLikesAndComments">
            <a class="posts" href="post.html">
                <p style="color: white;">Posts</p>
            </a>
            <a class="Likes" style="border: 1px solid black;" href="likes.html">
                <p>Likes</p>
            </a>
            <a class="Comments" style="border: 1px solid black;" href="OneComment.html">
                <p>Comment</p>
            </a>
        </div>

        <div class="post-section">
            <img src="../static/styles/imgs/post 1.png" alt="post 1" width="161px" height="136px">
            <div class="postAndDate">
                <p style="font-size: 24px; width: 627px; margin: 0;">LikeUp is a social
                    networking
                    platform designed
                    to connect users
                    through shared
                    interests and activities.
                </p>

                <p style="margin-top: 50px;">1 mo.</p>
            </div>


        </div>

        <div class="likeAndcomment">
            <img src="../static/styles/imgs/like.png" alt="like" width="22px" height="20"
                style="margin-top: 22px; margin-right: 5px; margin-left: 65px;">
            <p>4</p>
            <p style="margin-left: 970px;">2 Comments.</p>
        </div>

        <div class="post-section">
            <img src="../static/styles/imgs/post 2.png" alt="post 1" width="161px" height="136px">
            <div class="postAndDate">
                <p style="font-size: 24px; width: 627px; margin: 0;">#GAZA_Under_Attack!!!
                </p>

                <p style="margin-top: 50px;">2 days.</p>
            </div>


        </div>

        <div class="likeAndcomment">
            <img src="../static/styles/imgs/like.png" alt="like" width="22px" height="20"
                style="margin-top: 22px; margin-right: 5px; margin-left: 65px;">
            <p>10</p>
            <p style="margin-left: 870px;">5 Comments. 7 Shares</p>
        </div>

        <a href="#" style="align-self: center; text-decoration: none; ">
            <h2 style="font-size: 32px; color: black;">
                Show all posts
                <img src="../static/styles/imgs/arrow.png" alt="" width="30px" height="20px">
            </h2>
        </a>

    </div>

    <div class="post-container">
        <div class="top-header">
            <h2 class="headline">Following</h2>
        </div>

        <div class="pagesAndPeople">
            <a href="#" class="pages">
                <h2 style="margin-bottom: 0%;">Pages</h2>
            </a>
            <a href="#" class="people">
                <h2 style="margin-bottom: 0%;">People</h2>
            </a>
        </div>

        <div class="follow-section">
            <img src="../static/styles/imgs/ITI.png" alt="post 1" width="150px" height="133px">
            <div class="postAndDate">
                <p style="font-size: 24px; width: 427px; margin: 0;">Information Technology Institute (ITI)
                </p>
                <p style="margin-top: 15px;">
                    226,295 followers</p>
                <a class="follow-button" href="#">
                    <img src="../static/styles/imgs//true.png" alt="" width="31px" height="23px" style="margin-right: 10px;">
                    <p>Following</p>
                </a>
            </div>


            <img src="../static/styles/imgs/bank misr.png" alt="post 1" width="150px" height="133px" style="margin-left: 50px;">
            <div class="postAndDate">
                <p style="font-size: 24px;  margin: 0;">banque misr
                </p>
                <p style="margin-top: 15px;">
                    740K followers</p>
                <a class="follow-button" href="#">
                    <img src="../static/styles/imgs/true.png" alt="" width="31px" height="23px" style="margin-right: 10px;">
                    <p>Following</p>
                </a>
            </div>


        </div>

    </div>

    <script src="../static/script/profile.js"></script>

</body>

</html>