<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="signUp.css">
    <title>Sign Up</title>
</head>

<body>

    <!-- form on left section -->
    <form method="POST" action="">
	    {{ form.hidden_tag() }}
    	<div class="form-container">
        	<h1 class="greeting"> Sign Up Now </h1>

        	<div class="password-container">
			{{ form.username.label }}
			{% if form.username.errors %}
                                {{ form.username }}
                                <div class="invalid">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                </div>

                            {% else %}
                               {{ form.username }}
                            {% endif %}
            	<div>
                	<img class="eye" src="./assets/user.png" alt="eye">
            	</div>
        	</div>



        	<div class="password-container">
            	{{ form.email.label }}

                            {% if form.email.errors %}
                                {{ form.email }}
                                <div class="invalid">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                </div>

                            {% else %}
                               {{ form.email }}
                            {% endif %}
            	<div>
                	<img class="eye" src="./assets/email.png" alt="eye">
            	</div>
        	</div>


        	<div class="password-container">
        	 {{ form.password.label }}
                        {% if form.email.errors %}
                                {{ form.password }}
                                <div class="invalid">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                </div>

                        {% else %}
                            {{ form.password }}
                        {% endif %}
            	<div>
                	<img class="eye" src="./assets/lock.png" alt="eye">
            	</div>
        	</div>

		{{ form.submit(class="button") }}
        	<a class="Forget" href="login.html"> Already Have Account? </a>


    	</div>
    </form>

    <!-- photo on the left -->
    <img class="cover" src="./assets/signup.png" alt="pic">

</body>

</html>
